<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SaintCroix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33E61BD31C1C6600000F9233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33E61BEC1C1C6601000F9233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33E61BF71C1C6601000F9233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
